<div class="row">
  <div class="col-xs-12">
    <h3>Cadastro</h3>
    <form [formGroup]="formF">
      <div class="form-group">
        <label >Nome: </label>
        <input
          class="form-control"
          type="text"
          formControlName="nome"
          name="nome"
        />
        <br />

        <label >Categoria: </label>
        <select class="form-control"
        id="exampleFormControlSelect1"
        formControlName="categoria">
          <option>Salgado</option>
          <option>Doce</option>
          <option>Carne</option>
          <option>Massa</option>
        </select>
        <br />

        <label >Descricao: </label>
        <textarea class="form-control"
        id="exampleFormControlTextarea1"
        formControlName="descricao"
        rows="3"></textarea>
        <br />

        <label>Duracao: </label>
        <input
          class="form-control"
          type="text"
          id="duracao"
          formControlName="duracao"
        />
        <br />
        <label >Ingredientes: </label>
        <select class="form-control"
        id="exampleFormControlSelect1"
        formControlName="ingredientes"
        >
          <option *ngFor="let i of listaIngredientes">
            {{i.id}}-{{ i.nome}}
          </option>
        </select>
        <br />


        <button
        class="form-control"
        type="submit"
        class="btn btn-primary"
        (click)="onAdiciona()"
      >
        +
      </button>
      <br><br>
      <table>
        <tr *ngFor="let i of ingredientesAdicionados">
          <td><input class="form-control"
            type="text" value=" {{i}} "
            readonly>
          </td>
          <td>&nbsp;&nbsp;
            <button class="btn btn-danger"
            (click)="onRemoveIngrediente(i)"
            >X</button>
          </td>
        </tr>
      </table>

        <br>
      </div>
      <button
        class="form-control"
        type="submit"
        class="btn btn-primary"
        [disabled]="!formF.valid"
        *ngIf="!modoEdicao"
        (click)="onCadastra()"
      >
        Cadastrar
      </button> &nbsp;
      <button
        class="form-control"
        type="submit"
        class="btn btn-primary"
        [disabled]="!formF.valid"
        *ngIf="modoEdicao"
        (click)="onEdita()"

      >
        Editar
      </button> &nbsp;
      <button
        class="form-control"
        type="submit"
        class="btn btn-danger"
        (click)="onCancela()"
      >
        Cacelar
      </button>


    </form>
  </div>
</div>
